*{ 
	position: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #f6f5f4;
	width: 1350px;
	margin:0 auto;
}
.first{
	height: 125px;
	margin: 0 auto;
	width: 100%;
	position:relative;
}
.cover{
	float: left;
	padding-left: 85px;
	top: 0;
	position:absolute;
	z-index: 99;
	background-color: #ffffff;
	height: 125px;
	width: 1180px;
	margin: 0 auto;
}
.cover > p{
	color:  #9a9791;
	display: inline-block;
}
.top{
	width: 19px;
	height: 19px;
	position: no-repeat;
	display: inline-block;
	margin-right: 17px;
	margin-top: 7px;
}
.right{
	float: right;
	width: 735px;
	height: 30px;
	display: inline-block;
}
.right > a{
	margin-top: 10px;
	float: left;
	text-align: center;
	margin-right: 10px;
	font-size: 14px;
	color: #9a9791;
}
.QQ{
	background: url(../img/common_min.png) 0 -31px;
}
.WEIXIN{
	background: url(../img/common_min.png) 0 -53px;
}
.WEIBO{
	background: url(../img/common_min.png) 0 -75px;
}
.top2{
	margin-top: 16px;
}
.top2 > input{
	float: left;
	width: 500px;
	height: 35px;
	border: 3px solid #fe6c00;
	margin-left: 108px;
	margin-top: 15px;
}
.top2 > button{
	float: left;
	margin-top: 15px;
	font-size: 18px;
	border: 3px solid #fe6c00;
	width: 81px;
	height: 43px;
	color: #ffffff;
	background: #fe6c00;
	margin-right: 75px;
}
.top2 > div{
	margin-top: 15px;
	float: left;
	display: inline-block;
	width: 86px;
	height: 34px;
	border: 1px solid #e6e5e2;
	margin-bottom: 7px;
}
.top2 > div > p{
	font-size: 7px;
	color: #9a9791;
	text-align: center;
}
.top_div{
	background: #ff4d04;
}
.top_div > a{
	margin-top: 12px;
	color: #ffffff;
	font-size: 13px;
	padding-top: 0px;
	float: left;
}
.top_div > img{
	float: left;
	margin-top: 15px;
	margin-left: 7px;
}
.top2 > a{
	float: left;
	margin-right: 8px;
	font-size: 12px;
}
.top2 > img{
	float: left;
	margin-right: 8px;
}
.biaoti{
	height: 40px;
	width: 1180px;
	margin: 0 auto;
	margin-top: 7px;
}
.biaoti > div{
	float: left;
	display: inline-block;
	width: 170px;
	height: 40px;
	background: #ff4d04;
}
.biaoti > div > P{
	margin-left: 35px;
	margin-top: 13px;
	font-size: 14px;
	float: left;
	color: #ffffff;
}
.biaoti > a{
	color: #000000;
	margin-left: 55px;
	margin-top: 13px;
	float: left;
	font-size: 16px;
}
.zhuban{
	width: 1180px;
	height: 550px;
	margin: 0 auto;
	position: relative;
}
.left{
	width: 169px;
	height: 422px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #fe6c00;
	display: inline-block;
	float: left;
}
.left1{
	display: inline-block;
	width: 25px;
	height: 422px;
	background:#4c4c4a;
	float: left;
}
.left1 > p{
	font-size: 15px;
	padding-left: 5px;
	color: #ff4d4b;
}
.left2{
	float: left;
	display: inline-block;
	width: 144px;
	height: 422px;
}
.left2 > ul{
	padding-left: 0px;
}
.left2 > ul >li{
	padding-left: 12px;
	margin-top: 11px;
}
.left2 > ul >li >a{
	font-size: 12px;
	margin-right: 6px;
	color: #000000;
}
.mid{
	width: 800px;
	height: 360px;
	display: inline-block;
	float: left;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.mid>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: red;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.right1{
	width: 205px;
	height: 43px;
	display: inline-block;
	float: left;
	border-bottom-color: #ebeae7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #fe6c00;
	border-left-style: solid;
	border-left-width: 1px;
}
.right1 > img{
	width: 16px;
	height: 16px;
	float:left;
	margin-top: 14px;
	margin-left: 21px;
	margin-right: 12px;
}
.right1 > p{
	font-size: 14px;
	color: #fe6c00;
	margin-top: 14px;
	float: left;
	margin-right: 44px;
}
.rigth2{
	width: 205px;
	height: 320px;
	display: inline-block;
	float: left;
	border-bottom-color: #ebeae7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #fe6c00;
	border-left-style: solid;
	border-left-width: 1px;
	overflow: hidden;
}
#r22 >li{
	color: #fe7403;
	line-height: 30px;
	font-size: 12px;
}
#r222{
	color: #fe7403;
	line-height: 30px;
	font-size: 12px;
}
.left3{
	width: 170px;
	height: 120px;
	display: inline-block;
	float: left;
	position: absolute;
	top: 425px;
	left: 0;
}
.left3 > img{
	margin-left: 10px;
	float: left;
}
.left3 > a{
	margin-left: 10px;
	font-size: 13px;
	color: #855d38;
	float: left;
}
.right3{
	width: 210px;
	height: 185px;
	display: inline-block;
	float: right;
}
.right3 > p{
	font-size: 12px;
	float: left;
	display: inline-block;
}
.right3 > img{
	float: left;
}
.right3 > input{
	margin-left: 16px;
	margin-top: 9px;
	width: 124px;
	height: 24px;
}
.right3 > select {
	float: left;
	width: 61px;
	height: 17px;
	margin-left: 16px;
	margin-top: 7px;
}
.right3 > button{
	width: 177px;
	height: 25px;
	background-color: #ff4d04;
	color: #ffffff;
	margin-top: 6px;
	margin-left: 16px;
	border: 1px solid #ff4d04;
	border-radius:4px;
}
.zhuban > a{
	float: left;
}
.zhuban > img{
	border-top-color: #fe6c00;
	border-top-style: solid;
	border-top-width: 1px;
}
.last{
	height: 360px;
	width: 1180px;
	margin: 0 auto;
}
.last > img{
	float: left;
}
.last > ul > li > a{
	font-size: 11px;
	color: #666560;
}
.last > ul >li{
	margin-top: 8px;
}
.last > ul{
	float: left;
	margin-top: 32px;
	padding-left: 67px;
}
.last > hr{
	float: left;
}
#ul2{
	margin-right: 200px;
	margin-top: 15px;
	margin-left: 195px;
}
#ul2 > li{
	float: left;
}
#ul2 > img{
	float: left;
	margin-right: 14px;
	padding-top: 7px;
}
#ul2 > li > a{
	font-size: 12px;
	float: left;
	color: #666560;
	margin-right: 13px;
}
.last > p{
	display: block;
	float: left;
	color: #9a9791;
	font-size: 13px;
}
.one{
	position: fixed;
	top:87px;
	right: -82px;			
}
.two{
	position: fixed;
	top:146.3px;
	right: -82px;	
}
.three{
	position: fixed;
	top:195px;
	right: -127px;
}
.four{
	position: fixed;
	top:366px;
	right: -127px;
}
.five{
	position: fixed;
	top:542px;
	right: -75px;
}