
*{
	padding: 0;
	margin: 0;

}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height: 173px;
	background-color: #eeeeef;
}
.logo{
	text-align: center;
	height: 125px;
}
.logo img{ 
	margin-top: 30px;
}
.yi{
	width: 670px;
	height: 45px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 23px;
}
.yi li{
	float: left;
	font-size: 14px;
	height: 45px;
	padding: 0px 30px;
	line-height: 45px;
	background: url("images/line.png") no-repeat right center;
}
.yi li a{
	display: block;
	height: 42px;
	border-bottom: 3px solid #le50ae;
}
.wei{
	background: none;
}
.dier{
	width: 100%;
	height: 405px; 
	background: url('images/beijing1.gif') no-repeat center center;
}
.disan{
	padding-top: 30px;
	height: 710px;
	width: 100%;
	margin: 0 auto;
}
.a{
	text-align: center;
	font-size: 34px;
	margin-top: 20px;
}
.b{
	text-align: center;
	font-size: 30px;
	margin-top: 20px;
}
.a1{
	padding-top: 55px;
	float: left;
	height: 300px;
	width: 300px;
}
.yuan ol{
	font-size: 14px;
	color: #d0d0d0;
	background: url('images/yuandian.png') no-repeat left center;
	padding-left: 8px;
}
.a2{
	float: left;
	width: 300px;
}
.b1{
	font-size: 16px;
	padding-left: 40px;
}
.disi{
	height: 710px;
	width: 100%;
	background: url('images/disibeijing.png') no-repeat center center;
}
.a{
	font-size: 34px;
	font-family: '微软雅黑';
}
.b{
	font-size: 20px;
	font-family: 'Aparajita';
}
.a3{
	width: 1200px;
	height: 420px;
	margin: 50px 230px auto;
}
.a3 li{
	text-align: center;
	float: left;
	margin-right: 52px;
}
.disi button{
	width: 200px;
	height: 50px;
	background: none;
	border: 1px solid #fff;
	border-radius: 25px;
	padding-bottom: 50px;
	color: #fff;
	font-size: 20px;
}
.diwu{
	width: 1200px;
	height: 810px;
	margin: 0 auto;
}
.diwu ul{
	float: left;
}
.diwuul1{
	float: left;
	width: 600px;
	height: 360px;
}
.diwuul2{
	width: 600px;
	height: 360px;
}
.diwuul2 button{
	width: 140px;
	height: 46px;
	background: none;
	border: 1px solid #1e50ae;
	color: #1e50ae;
	text-align: center;
	border-radius: 23px;
}
.yaojiaxuxian1 li{
	padding-top: 15px;
	border-bottom: 2px dotted gray;
}
.diwuul2 li{
	padding-top: 15px;
	border-bottom: 2px dotted gray;
}



.diliu{
	margin:0 auto;
	width:1520px;
	height: 100px;
	background-color:#f5f5f5;
}
.diliu li{
	float:left;
	padding:25px 0px 0px 0px;
	width: 300px;
	height: 75px;
}
.diliu img{
	float:left;
	width: 70px;
	height: 70px;
}
.diliu p{
	text-align:left;
}
.diliu ul{
	width: 1200px;
	height: ;
	margin:0 auto;
}
.diqi{
	width: 100%;
	background-color: #323232;
	height: 260px;
}
.foot2{
	height: 125px;
	background-color: #323232;
}
.f1{
	height: 145px;
	padding-top: 73px;
	width: 1200px;
	margin: 0 auto;
}
.d1{
	float: left;
	color: #ffffff;
	line-height:3em;
	height: 145px;
	width: 180px;
}
.d2{
	float: left;
	height: 145px;
	width: 54px;
}
.d3{
	height: 145px;
	float: left;
	line-height: 3em;
}
.g{
	color: #ffffff;
	list-style-image: url('images/qqtubiao.png');
	list-style-position: inside;
}
.g{
	list-style-position: inside;
	color: #ffffff;
	list-style-image: url('images/weixin.gif');
}
.d1 li{
	line-height: 2em;
	font-size: 15px;
}