/* @import '~antd/dist/antd.css'; */
*{  
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
body{
    background: #ccc;
}
/*Header*/
.headerwrap{
    height: 50px;
    background: #444;
}
.headerwrap header{
    width: 1200px;
    margin: 0 auto;
}
.headerwrap img{
    width: 120px;
    margin-top: 10px;
}
.headerwrap a{
    margin:0 20px;
    color: #fff;
    text-decoration: none;
}
.search{
    width:250px;
    height:30px;
    margin-top:10px;
    margin-left:15px;
    background: rgb(177, 175, 175);
    border-radius:15px;
    border:0;
    outline:none;
}

/*main*/
  /* APP.js */
.main{
    width: 1200px;
    margin: 30px auto;
}
.content{
    width: 900px;
    float: left;
    background: #fff;
    border: 2px solid red;
}
.sider{
    width: 270px;
    height: 500px;
    float: right;
    background: #03961c;
}
/* Content.js */
.panel{
    margin-bottom: 13px;
}
.topic_header{
    padding: 10px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #f6f6f6;
}
.topic_full_title {
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 75%;
    line-height: 130%;
}
.put_top {
    background: #80bd01;
    padding: 2px 4px;
    margin-right:5px ;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}
.changes {
    font-size: 12px;
    color: #838383;
}
.add_change{
    margin-right:20px ;
}
.inner.topic {
    padding: 10px;
    border-top: 1px solid #e5e5e5;
}
.topic_content {
    margin: 0 10px;
}

/* login.js */
.login_top{
    padding: 10px;
    background-color: #f6f6f6;
}
.zi1{
    color: #80bd01;
}
.zi2{
    color: #999;
}
.log{
    margin-top:30px;
} 
.usandpwd{
    padding:50px 190px;
}
.usandpwd input{
    width: 270px;
    height: 30px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.log button{
    margin-left:180px;
    border: none;
    width: 130px;
    height: 36px;
    font-size: 14px;
    border-radius: 3px;
    color: #fff;
    background-color: #5bc0de;
}
/*home.js*/
.title{
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.title a{
    margin: 0 10px;
    color: #80bd01;
}
.title a:hover{
    background-color: #80bd01;
    color: #fff;
    border-radius: 3px;
}
/* All--css */
.left .cell {
    padding-right: 10px;
    border-top: 1px solid #f0f0f0;
}
.cell {
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    height: 50px;
}

#topic_list {
    margin: 0;
}

.pull-left {
    float: left;
}
.reply_count {
    margin-left:10px ;
    display: inline-block;
    text-align: center;  
}
.count_of_replies {
    color: #9e78c0;
}
.count_seperator {
    font-size: 10px;
}
.cell .count_of_visits {
    font-size: 10px;
    color: #b4b4b4;
}
.topic_title_wrapper {
    position: absolute;
    top: 15px;
    left:110px;
}
.topic_title {
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    width: 580px;
    font-size: 16px;
    padding-left: 5px;
}
.pagination{
    height: 40px;
    margin: 10px 0 0 10px;
}
.link_title{
    color: #333;
}
.link_title:hover{
    color: #888;
}
.btn{
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    color: #778087;;
}
.btn:hover{
    background: #f6f6f6;
    color:#999;
}